Practicas/practicas.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT practicas (alumno)*>

<!ELEMENT alumno (nif|resultado|observaciones|ip|mac)*>

<!ELEMENT nif (#PCDATA)>

<!ELEMENT resultado (#PCDATA)>

<!ELEMENT observaciones (#PCDATA|anhos|poblacion)*>

<!ELEMENT anhos (#PCDATA)>

<!ELEMENT poblacion (#PCDATA)>

<!ELEMENT ip (#PCDATA)>

<!ELEMENT mac (#PCDATA)>
